<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" th:fragment="footer" >
    <div class="footer">
        <div class="footer-top">
            <div class="col-md-4 amet-sed">
                <h4>navigation</h4>
                <i class="line"> </i>
                <ul class="nav-bottom">
                    <li  ><a th:href="@{/index}" >HOME  </a> </li>
                    <li><a th:href="@{/events}" > EVENTS</a></li>
                    <li><a th:href="@{/error/404}"> WINNERS </a></li>
                    <li><a th:href="@{/contact}">CONTACT </a></li>
                    <li><a th:href="@{/login}">LOGIN </a></li>
                    <li  ><a href="#" >RSVP</a> </li>
                    <li><a href="#" >PRIVACY POLICY</a></li>
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>get in touch</h4>
                <i class="line"> </i>
                <ul class="nav-bottom">
                    <li  ><a th:href="@{/contact}" >CONTACT US</a> </li>
                    <li><a href="#" >PRIVACY POLICY</a></li>
                    <li><a href="#">TERMS &amp; CONDITIONS </a></li>
                </ul>
                <p>Email: <a href="mailto:1403976416@qq.com">1403976416@qq.com</a></p>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>share this page</h4>
                <i class="line"> </i>
                <ul class="social-in msg-social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="tin"> </i></a></li>
                    <li><a href="#"><i class="message"> </i></a></li>
                    <li><a href="#"><i class="youtube"> </i></a></li>
                </ul>
                <p>follow us on github:<a href="https://github.com/waiter2020">waiter2020</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>
        <p class="footer-class">Copyright &copy; 2018.Company name All rights reserved. Waiter </p>
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
            var defaults = {
                  containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
             };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
</div>
</body>
</html>