<!DOCTYPE html>
<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="col-md-3 single-bottom" th:fragment="right">
    <div class="store-right">
        <h6> Categories</h6>
        <ul class="store-men">
            <li><a href="#"><span> </span>Contrary to popular </a></li>
            <li><a href="#"><span> </span>simply random text</a></li>
            <li><a href="#"><span> </span> Lorem Ipsum passage </a></li>
            <li><a href="#"><span> </span>undoubtable source </a></li>
            <li><a href="#"><span> </span>Finibus Bonorum et</a></li>
            <li class="last"><a href="#"><span> </span>word in classical literature </a></li>
        </ul>
    </div>
    <div class="store-right">
        <h6>Achievements</h6>
        <ul class="store-men">
            <li><a href="#"><span> </span>April 2014 </a></li>
            <li><a href="#"><span> </span>July 2014</a></li>
            <li><a href="#"><span> </span> November 2014 </a></li>
            <li  class="last"><a href="#"><span> </span>January 2015 </a></li>
        </ul>
    </div>

</div>
<div class="clearfix"> </div>

</body>
</html>