<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" th:fragment="topbar" >
    <div class="header">
        <div class="header-top">
            <div class="logo">
                <a th:href="@{/index}"><img th:src="@{/images/logo.png}" alt=""></a>
            </div>
            <div class="header-top-on">
                <ul class="social-in">
                    <li><span>Share This Page:</span></li>
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="tin"> </i></a></li>
                    <li><a href="#"><i class="message"> </i></a></li>
                    <li><a href="#"><i class="youtube"> </i></a></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!---->
        <div class="header-bottom">
            <div class="top-nav">
                <span class="menu"> </span>
                <ul>
                    <li th:class="${activeUri=='index'?'active':''}" ><a th:href="@{/index}" data-hover="HOME">HOME </a></li>
                    <li th:class="${activeUri=='events'?'active':''}" ><a th:href="@{/events}" data-hover="EVENTS"> EVENTS</a></li>
                    <li th:class="${activeUri=='404'?'active':''}" ><a th:href="@{/error/404}" data-hover="WINNERS"> WINNERS </a></li>
                    <li th:class="${activeUri=='contact'?'active':''}" ><a th:href="@{/contact}" data-hover="CONTACT">CONTACT </a></li>
                    <li th:class="${activeUri=='login'?'active':''}" ><a th:href="@{/login}">LOGIN </a></li>
                </ul>
                <!--script-->
                <script>
                    $('span.menu').click(function() {
                        $('.top-nav ul').slideToggle(500, function() {
                        });
                    });
                </script>
            </div>
            <div class="search">
                <form>
                    <input type="text" value="Search.." onfocus="this.value = '';"
                           onblur="if (this.value == '') {this.value = '';}">
                    <input type="submit" value="">
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>