<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8"/>
    <title>编辑</title>
    <link rel="stylesheet" th:href="@{/editor/examples/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}"/>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link href="/css/dashboard.css" th:href="@{/admin/css/dashboard.css}" rel="stylesheet">
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
</head>
<body>
<!--引入topbar-->
<div th:replace="admin/commons/bar::topbar(title='新建文章')"></div>
<div class="container-fluid">
    <div class="row">
        <!--引入sidebar-->
        <div th:replace="admin/commons/bar::#sidebar(activeUri='edit')"></div>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div id="layout">
            <form method="post" th:action="@{/doc/add}">
                <div class="form-group">
                    <label>主标题</label>
                    <input name="title" type="text"  class="form-control"  >
                </div>
                <div class="form-group">
                    <label>副标题</label>
                    <input name="subTitle" type="text"  class="form-control"  >
                </div>
                <div class="form-group">
                    <label>类别</label>
                    <select id="type" class="form-control" name="type">
                        <!--<option th:selected="${emp!=null}?${dept.id == emp.department.id}" th:value="${dept.id}" th:each="dept:${depts}" th:text="${dept.departmentName}">1</option>-->
                    </select>
                    <button class="btn btn-info">添加类别</button>
                </div>
            <div id="test-editormd">
                <textarea name="body" style="display:none;">
                    [TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;

#### Editor.md directory

    editor.md/
            lib/
            css/
            scss/
            tests/
            fonts/
            images/
            plugins/
            examples/
            languages/     
            editormd.js
            ...

```html
&lt;!-- English --&gt;
&lt;script src="../dist/js/languages/en.js"&gt;&lt;/script&gt;

&lt;!-- 繁體中文 --&gt;
&lt;script src="../dist/js/languages/zh-tw.js"&gt;&lt;/script&gt;
```
                </textarea>

            </div>
                <button type="submit" class="btn btn-primary" th:text="提交"></button>
            </form>
        </div>
        <script th:src="@{/editor/examples/js/jquery.min.js}"></script>
        <script th:src="@{/editor/editormd.min.js}"></script>
        <script type="text/javascript">
            var testEditor;

            $(function() {
                testEditor = editormd('test-editormd', {
                    width: '90%',
                    height: 640,
                    syncScrolling: 'single',
                    path: '/editor/lib/',
                    saveHTMLToTextarea : true,//注意3：这个配置，方便post提交表单

                    /**上传图片相关配置如下*/
                    imageUpload : true,
                    imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                    imageUploadURL : "/file/upload/"//注意你后端的上传图片服务地址

                });

                /*
                // or
                testEditor = editormd({
                    id      : "test-editormd",
                    width   : "90%",
                    height  : 640,
                    path    : "../lib/"
                });
                */
            });
        </script>
        </main>
    </div>
</div>
</body>
<!-- Placed at the end of the document so the pages load faster -->
<!--<script type="text/javascript" th:src="@{/admin/js/jquery-3.2.1.slim.min.js}"></script>-->
<script th:src="@{/editor/examples/js/jquery.min.js}"></script>

<script type="text/javascript" th:src="@{/admin/js/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>

<!-- Icons -->
<script type="text/javascript" th:src="@{/admin/js/feather.min.js}"></script>
<script>
    feather.replace();
</script>
<script>
    $.ajax({
        url: "/type/get_all",
        type: "get",
        contentType: "application/json;charset=utf-8",
        dataType: 'json',
        async: true,
        success: function(result){
            for (var i=0;i<result.length;i++){
                $("#type").append("<option  value=\""+result[i].id+"\">"+result[i].name+"</option>")
            }
        }});
</script>
</html>