<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>404</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script th:src="@{/js/jquery.min.js}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.proxy.ustclug.org/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

</head>
<body>
	<!--header-->

	<div th:replace="common/top::topbar(activeUri='404')"></div>
		<!---->
	<div class="container">	
		<div class="four">		
		  <h1>404</h1>
		  <p>Sorry This was deadlink - Page not Found</p>
		   <a th:href="@{/index}" class="details">Go Back </a>
		    </div>
		</div>
	</div>
	
		<!---->
	<div th:replace="common/footer::footer"></div>
</body>
</html>