<!--
    
 @Name：不落阁整站模板源码
 @Author：Absolutely
 @Site：http://www.lyblogs.cn

 -->

<!DOCTYPE html>

<html  lang="en"
       xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=gb2312">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>WAITER - 文章专栏 - [[${doc.title}]]</title>
    <link rel="shortcut icon" th:href="@{/images/Logo_40.png}" type="image/x-icon">
    <!--Layui-->
    <link th:href="@{/plug/layui/css/layui.css}" rel="stylesheet" />
    <!--font-awesome-->
    <link th:href="@{/plug/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <!--全局样式表-->
    <link th:href="@{/css/global.css}" rel="stylesheet" />
    <!-- 比较好用的代码着色插件 -->
    <link th:href="@{/css/prettify.css}" rel="stylesheet" />
    <!-- 本页样式表 -->
    <link th:href="@{/css/detail.css}" rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/editor/examples/css/style.css}"/>
    <link rel="stylesheet" th:href="@{/editor/css/editormd.css}"/>
    <script th:src="@{/js/jquery.min.js}" ></script>
    <script th:src="@{/editor/lib/marked.min.js}"></script>
    <script th:src="@{/editor/lib/prettify.min.js}"></script>
    <script th:src="@{/editor/lib/raphael.min.js}"></script>
    <script th:src="@{/editor/lib/underscore.min.js}"></script>
    <script th:src="@{/editor/lib/sequence-diagram.min.js}"></script>
    <script th:src="@{/editor/lib/flowchart.min.js}"></script>
    <script th:src="@{/editor/lib/jquery.flowchart.min.js}"></script>
    <link rel="shortcut icon" href="https://pandao.github.io/editor.md/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <!-- 导航 -->
    <div th:replace="common/common::top(activeUri='detail')"></div>

    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a th:href="@{/index}" title="网站首页">网站首页</a>
                <a th:href="@{/article}" title="文章专栏">文章专栏</a>
                <a><cite>[[${doc.title}]]</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="blog-main-left">
                    <!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                    <div class="article-detail shadow">
                        <div class="article-detail-title">
                            [[${doc.title}]]
                        </div>
                        <div class="article-title">
                            [[${doc.subTitle}]]
                        </div>
                        <div class="article-detail-info">
                            <span>编辑时间：[[${#dates.format(doc.create, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                            <span>作者：[[${doc.author}]]</span>
                            <span>浏览量：[[${doc.watch.count}]]</span>
                        </div>
                        <div class="article-detail-content">
                            <div id="doc-content">
                                <textarea style="display:none;">[[${doc.body}]]</textarea>
                            </div>

                        </div>
                    </div>
                    <!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset sec:authorize="isAuthenticated()" class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <form id="comment" class="layui-form blog-editor" method="post" th:action="@{/comment/add/}+${doc.id}">
                                    <div class="layui-form-item">
                                        <textarea name="comment" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea layui-hide"></textarea>
                                    </div>
                                    <div class="layui-form-item">
                                        <button class="layui-btn" lay-submit="formRemark" lay-filter="formRemark">提交评论</button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <fieldset sec:authorize="isAnonymous()" class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <form  class="layui-form blog-editor" method="post" th:action="@{/comment/add/}+${doc.id}">
                                    <div class="layui-form-item">
                                        <textarea th:disabled="true" name="comment" lay-verify="content"  placeholder="请输入内容" class="layui-textarea "></textarea>
                                    </div>
                                    <div class="layui-form-item">
                                        <a class="layui-btn" th:href="@{/login}" >请先登录</a>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                        <div class="blog-module-title">最新评论</div>
                        <ul class="blog-comment">
                            <li th:each="comment:${comments}">
                                <div class="comment-parent">
                                    <img class="comment-child" src="../images/Absolutely.jpg" alt="absolutely" />
                                    <div class=" info " >
                                        <span class="username">[[${comment.userName}]]</span>
                                        <span class="time">[[${#dates.format(comment.create, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                                    </div>
                                    <br/>
                                    <div class="comment-child content" th:utext="${comment.content}" >
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="blog-main-right">
                    <!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div><!--这个div位置不能改，否则需要添加一个div来代替它或者修改样式表-->
                    <div class="article-category shadow">
                        <div class="article-category-title">分类导航</div>
                        <!-- 点击分类后的页面和artile.html页面一样，只是数据是某一类别的 -->
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">ASP.NET MVC</a>
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">SQL Server</a>
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">Entity Framework</a>
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">Web前端</a>
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">C#基础</a>
                        <a href="javascript:layer.msg(&#39;切换到相应分类&#39;)">杂文随笔</a>
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">相似文章</div>
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（一）（HTML篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC制作404跳转（非302和200）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">ASP.NET MVC 防范跨站请求伪造（CSRF）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（三）（JS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">基于laypage的layui扩展模块（pagesize.js）！</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">一步步制作时光轴（二）（CSS篇）</a></li>
                            <li><i class="fa-li fa fa-hand-o-right"></i><a href="detail.html">写了个Win10风格快捷菜单！</a></li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <div th:replace="common/common::footer"></div>
    <div th:replace="common/common::left(activeUri='detail')"></div>
    <div th:replace="common/common::share"></div>

    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="../plug/layui/layui.js"></script>
    <!-- 自定义全局脚本 -->
    <script src="../js/global.js"></script>
    <!-- 比较好用的代码着色插件 -->
    <script src="../js/prettify.js"></script>
    <!-- 本页脚本 -->
    <script th:src="@{/js/detail.js}"></script>
    <script th:src="@{/editor/examples/js/jquery.min.js}"></script>
    <script th:src="@{/editor/editormd.min.js}"></script>
    <script type="text/javascript">
        var testEditor;
        $(function () {
            testEditor = editormd.markdownToHTML("doc-content", {//注意：这里是上面DIV的id
                htmlDecode: "style,script,iframe",
                emoji: true,
                taskList: true,
                tex: true, // 默认不解析
                flowChart: true, // 默认不解析
                sequenceDiagram: true, // 默认不解析
                codeFold: true,
                path: '/editor/lib/'
            });});
    </script>
</body>
<script>
    var ps = $(".blog-comment")[0].getElementsByTagName("p");
    for(var i=0;i<ps.length;i++){
        $(ps[i]).addClass("content");
    }
</script>
</html>