<!DOCTYPE html>
<html lang="en"
	  xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Single</title>
	<link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<!-- Custom Theme files -->
	<!--theme-style-->
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" media="all" />
	<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.proxy.ustclug.org/css?family=Lato:100,300,400,700,900' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script type="text/javascript" th:src="@{/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{/js/easing.js}"></script>
				<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();
							$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
					</script>

</head>
<body>
	<!--header-->
	<div th:replace="common/top::topbar(activeUri='single')"></div>
		<!---->
	<div class="container">
		<div class="single">
			<div class="col-md-9  single-top">
				<div class="text-in">					
						<div class="single-men">
							<img class="img-responsive" src="images/sin.jpg" alt="" />
							<h5>Lorem Ipsum is simply dummy text</h5>
							<p>Quisque euismod velit luctus tellus dignissim, sed aliquam tellus porttitor. Suspendisse feugiat, orci sed iaculis tristique, est neque tempus sem, ut iaculis mi augue sed enim. Nunc nec consectetur mi. Aenean nisl augue, laoreet vel justo nec, auctor congue metus. Vestibulum aliquet, eros non iaculis lobortis, velit lectus imperdiet turpis, id blandit nisi mauris nec turpis.
                       Quisque euismod velit luctus tellus dignissim, sed aliquam tellus porttitor. Suspendisse feugiat, orci sed iaculis tristique, est neque tempus sem, ut iaculis mi augue sed enim. Nunc nec consectetur mi. Aenean nisl augue, laoreet vel justo nec, auctor congue metus. Vestibulum aliquet, eros non iaculis lobortis, velit lectus imperdiet turpis, id blandit nisi mauris nec turpis.</p>
						</div>
						<div class="comment-grid-top">
			<h3>2 Responses</h3>
			<div class="comments-top-top">
				<div class="top-comment-left">
					<img class="img-responsive" src="images/co.png" alt="" />
				</div>
				<div class="top-comment-right">
					<ul>
						<li><span class="left-at"> Admin</span></li>
						<li><span class="right-at">12 July 2014 at 10.30am</span></li>
						<li><a class="reply" href="#">REPLY</a></li>
					</ul>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="comments-top-top ">
				<div class="top-comment-left">
					<img class="img-responsive" src="images/co.png" alt="" />
				</div>
				<div class="top-comment-right">
					<ul>
						<li><span class="left-at"> Admin</span></li>
						<li><span class="right-at">12 July 2014 at 10.30am</span></li>
						<li><a class="reply" href="#">REPLY</a></li>
					</ul>
				<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.The point of using Lorem Ipsum is that it has a more-or-less </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			
			
		</div>
                    <div class="comments-area">
		  		        	<h3>Add New Comment</h3>
							<form>
								<p>
									<span>Name</span>									
									<input type="text" value="">
								</p>
								<p>
									<span>Email</span>									
									<input type="text" value="">
								</p>
								<p>
									<span>Website</span>
									<input type="text" value="">
								</p>
								<p>
									<span>Subject</span>									
									<textarea></textarea>
								</p>
								<div class="sub-in">
									<input type="submit" value="Submit Comment">
								</div>
							</form>
					  </div>
				</div>
				
				
			</div>
			<div th:replace="common/right::right"></div>
		</div>
	</div>
	
		<!---->

	<div th:replace="common/footer::footer"></div>
</body>
</html>